{
  "input": {
    "topicName": "sp-enriched"
    "bootstrapServers": "NAMESPACENAME.servicebus.windows.net:9093"
  }

  "output": {

    "good": {
      "location": "abfs://snowplow@example.dfs.core.windows.net/events"
    }

    "bad": {
      "topicName": "sp-bad"
      "bootstrapServers": "NAMESPACENAME.servicebus.windows.net:9093"
    }
  }
}
